body {
    text-align: center;
    padding: 3em;
    line-height: 2em;
}
hr {
    margin-top: 3em;
    margin-bottom: 3em;
}
input[type="password"] {
    font-family: monospace;
    font-size: 2em;
    width: 8em;
    letter-spacing: 0.5em;
}
button{
    font-size: 1em;
    padding: 0.5em;
}
pre{
    font-family: monospace;
    line-height: 1.1em;
    text-align: left;
    margin-left: 2em;
    margin-right: 2em;
}
body.status-not-authenticated .not-authenticated { display: block }
body.status-not-authenticated .authenticated { display: none }
body.status-authenticated .not-authenticated { display: none }
body.status-authenticated .authenticated { display: block }

.not-authenticated.status-logout .login { display: none }
.not-authenticated.status-logout .logout { display: block }
.not-authenticated.status-logout .update { display: none }
.not-authenticated.status-login .login { display: block }
.not-authenticated.status-login .logout { display: none }
.not-authenticated.status-login .update { display: none }
.not-authenticated.status-update .login { display: none }
.not-authenticated.status-update .logout { display: none }
.not-authenticated.status-update .update { display: block }

.authenticated.status-locked .locked { display: block }
.authenticated.status-locked .unlocked { display: none }
.authenticated.status-unlocked .unlocked { display: block }
.authenticated.status-unlocked .locked { display: none }

input.plain{
    border: none;
    font-family: monospace;
    line-height: 1.1em;
}

#startcommand{
    width: 30em;
    text-align: center;
    color: #0000AA;
}

textarea{
    min-width: 70%;
    min-height: 10em;
}
